/* src/components/turmaItem.css */

.turma-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.turma-details span {
    display: block;
    margin-bottom: 5px;
}

.turma-actions button {
    margin-left: 10px;
}
