:root { 
--black_900_7f:#0000007f; 
--gray_600:#6f6f6f; 
--gray_700:#595959; 
--gray_600_01:#797979; 
--amber_500:#e3c216; 
--orange_A700:#ff5b00; 
--light_green_A700:#51db10; 
--black_900_3f:#0000003f; 
--gray_200:#eaeaea; 
--gray_100:#f7f7f7; 
--light_green_900:#2e790a; 
--black_900:#000000; 
--yellow_800:#e39d16; 
--indigo_900_01:#0e1b6b; 
--deep_orange_900:#954700; 
--indigo_900:#141e57; 
--indigo_800_01:#2c2a93; 
--indigo_700:#313f97; 
--deep_purple_A700:#1602ff; 
--indigo_800:#2a387d; 
--white_A700:#ffffff; 
--indigo_A700_93:#0023eb93; 
}